body{
    background-image: url(../img/wall.svg); 
    background-size:cover;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    text-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
table,td {
   border: 1px solid black;
   text-align:left;
   padding: 15px;
   border-bottom: 1px solid #ddd;
}
thead{
    background-color: black;
    color: white;
    text-align:center;
}

#btn-group{
    text-align:center;
    width:100%;
}

#logout{
    text-align:center;
    background-color:red;
    color:white;
}
#form_insert, #updateInfo{
    text-align:center;
}
h1{
    text-align: center;
}

#pass, #generateReport, #frontPageBody, #frontPageTitle, #frontPageButton{
    text-align: center;
}

#average,#awards,#albums{
    display:none;
}
#ButtonForms{
    text-align: center;
}
